* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1260px;
    width: 100%;
    margin: 0 auto;
}


.main-hero-section{
    background-color: #f6f6f6;
    padding: 90px 0px;
}
.flexbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-left{
    flex-basis: 50%;
}
.hero-left img{}
.hero-right{
    flex-basis: 50%;
    text-align: right;
}
.hero-right h1{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 76px;
text-align: right;
color: #151414;
}
.hero-right p{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: right;
color: #444343;
padding: 20px 0px;
}
.hero-right a{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
text-align: right;

color: #FFFFFF;
background: #F15B22;
border-radius: 5px;
padding: 21px;
text-decoration: none;
}


/* ----------About us Section Start--------------- */
.main-about-us-section{}
.flexbox-two{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px 0px;
}
.about-left-area{
    flex-basis: 50%;
}
.about-left-area img{

}
.about-right-area{
    flex-basis: 50%;
}
.about-right-area h1{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;
color: #151414;
margin-bottom: 20px;
}
.about-right-area p{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #444343;

}
.about-right-area ul{
    list-style: none;
    margin-top: 20px;
}
.about-right-area ul li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
}
.about-right-area ul li img{
    height: 12px;
    width: 12px;
    margin-right: 10px;
}
.about-right-area ul li p{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #444343;


}

/* ----------About us Section End --------------- */



/* ----------Plan Section Start --------------- */
.main-plan-section{
    padding: 90px 0px;
}
.plan-area-heading{
    text-align: center;
    padding: 40px;
}
.plan-area-heading h1{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;
color: #151414;
}
.flexbox-three{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.plan-item{
    text-align: center;
}
.plan-item img{
    height: 93px;
    width: 93px;
}
.plan-item h1{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 35px;
text-align: center;


color: #151414;

}
.plan-item p{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 29px;
text-align: center;

color: #737272;
}
/* ----------Plan Section End --------------- */
/* ----------Newslatter Section Start --------------- */
.main-newslater-area{
    padding: 90px 0px;
}
.newslate-item{
    background: url(../Images/watch.png)no-repeat scroll 0 0 / 100% 100%;
    border-radius: 5px;
    padding: 60px 40px;
    position: relative;
}
.newslate-item::after{
    content: "";
    clear: both;
    position: absolute;
    top: 0%;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%);
    border-radius: 8px;

}
.newslate-item h1{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;
color: #FFFFFF;
margin-bottom: 15px;
position: relative;
z-index: 9;
}
.newslate-item a{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
text-align: center;

color: #F15B22;
background: #FFFFFF;
border-radius: 5px;
padding: 21px;
position: relative;
z-index: 9;
}
/* ----------Newslatter Section End --------------- */



/* ----------Footer Section Start --------------- */

.main-footer-area{
    background: #151414;
    padding: 100px 0px;
}
.flexbox-four{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-item{
    flex-basis: 50%;
}
.footer-item h1{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 53px;
color: #F8F8F8;
}
.footer-item p{
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #FFFFFF;
padding: 20px 0px;

}
.footer-item a{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #FFFFFF;
}
.footer-item .social-media{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 35px;
}
.footer-item .social-media a{
    margin-right: 15px;
}
.footer-item .social-media a img{
    height: 47px;
    width: 47px;
}

.footer-item h6{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 29px;
margin-bottom: 20px;
color: #FFFFFF;
}


.footer-item form input{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;

color: #F3F3F3;
padding: 15px;
background: none;
border: 1px solid #fff;
border-radius: 5px;
display: block;
}
.footer-item .submit-button{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #F15B22;
background: #FFFFFF;
border-radius: 8px;
padding: 20px 36px;
margin-top: 20px;
cursor: pointer;
}
/* ----------Footer Section End --------------- */



